/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navbar-dark
{
  background-color: #512DA8;
}
.row-header{
  margin:0px auto;
  padding: 0px auto;
}
.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer{
  margin:0px auto;
  background-color: #D1C4E9;
  padding: 20px 0px 20px 0px;
}

.address{
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.container-fluid .jumbotron, .container .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px)
{
.container-fluid .jumbotron, .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
}
}

@media screen and (min-width: 768px)
{
.jumbotron {
    padding-bottom: 48px;
    padding-top: 48px;
}
}

.jumbotron {
  background-color: #9575CD;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.loginModal{
  z-index: 2;
}
.login-btn{
  
  background-color: #9575CD;
  border-radius: 26px;
}
.navbar{
  position: sticky;
  top:0;
  opacity: 0.95;
  z-index: 1;
  /* position: fixed;
  display: flex;
  z-index: 1;
  overflow: hidden;
  justify-content: space-between;
  width: 100%; */
}
.paragraph{
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}
.roww{
  width: 100%;
}
.pic{
  display: flex;
  align-items: center;
}

ul{
  list-style-type: none;
}
.media-photo{
  height: 95px;
  width: 105px;
}

.photo{
  padding-top: 20px;
  margin-bottom: 10px;
}
.submit-btn{
  background-color: #ffff;
  color:#6c757d;

}
.submit{
  font-family: sans-serif;
}